<div class="container">
<h1>{{title}} </h1>
<div *ngFor="let cookies of cookieList" class="biscuit">
    <h2>{{ cookies.id }} {{ cookies.cookiesName }}</h2>
    <p>ID: {{ cookies.id }}</p>
    <p>Manufacturer: {{ cookies.manufacturer }}</p>
    <p>Address: {{ cookies.address}}</p> 
    <p>Phone Number: {{ cookies.phoneNum}}</p>
    <p>Availability: {{ cookies.isInStock ? 'In Stock' : 'Out Of Stock'}}</p>

    <!-- button to toggle admin status -->
    <button (click)="toggleInStockStatus(cookies)" class="toggle-button">
    Available
    </button>
</div>
</div>