<div class="container">
<h1>{{title}} </h1>
<div *ngFor="let user of cookieList" class="biscuit">
    <h2>{{ user.id }} {{ user.cookiesName }}</h2>
    <p>ID: {{ user.id }}</p>
    <p>Manufacturer: {{ user.manufacturer }}</p>
    <p>Address: {{ user.address}}</p> 
    <p>Phone Number: {{ user.phoneNum}}</p>
    <p>Availability: {{ user.isInStock ? 'In Stock' : 'Out Of Stock'}}</p>

    <!-- button to toggle admin status -->
    <button (click)="toggleInStockStatus(user)" class="toggle-button">
    Available
    </button>
</div>
</div>