<div class="flag-container">
  <div *ngFor="let flag of flagList; even as isEven" class="flag-card" [routerLink]="['/flags', flag.id ]">
    <p>Country: {{ flag.country | uppercase }}</p> <!-- UppercasePipe -->
    <p>ID: {{ flag.id }}</p>
    <p>Material: {{ flag.material }}</p>
    <p>Size: {{ flag.size | currency: 'USD' }}</p> <!-- CurrencyPipe -->
    <p>In Stock: {{ flag.isInStock ? 'Yes' : 'No' }}</p>
    <p>{{ flag | fullDescription }}</p>
    <p [innerHTML]="flag.country | colorText: flag.isInStock"></p>
    <img ngSrc="{{flag.image}}" alt="{{flag.country}} flag" height="120" width="200">
    <button type="button" (click)="onEdit(flag.id); $event.stopPropagation()">Edit</button>
    <button type="button" (click)="onDelete(flag.id); $event.stopPropagation()">Delete</button>
  </div>
</div>
