<div class="flag-container">
  <mat-card class="mat-card" *ngFor="let flag of flagList; even as isEven"
            appShowDetailsOnHover 
            [detailsOnHover]="'This is a tool to edit the flag'" 
            [appHoverHighlight]="'darkblue'" 
            class="flag-card" 
            [routerLink]="['/flags', flag.id]">
    
    <mat-card-header class="mat-card-header">
      <mat-card-title class="mat-card-title">{{flag.country}}</mat-card-title>
      <mat-card-subtitle class="mat-card-subtitle">Material: {{flag.material}}</mat-card-subtitle>
    </mat-card-header>

    <img mat-card-image ngSrc="{{flag.image}}" alt="{{flag.country}} flag" height="120" width="200">
    
    <mat-card-content>
      <p>ID: {{flag.id}}</p>
      <p>Size: {{flag.size}}</p>
      <p>In Stock: {{flag.isInStock ? 'Yes' : 'No'}}</p>
      <p>Cash Reserve: {{flag.CashReserve}}</p>
    </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="onEdit(flag.id); $event.stopPropagation()">Edit</button>
      <button mat-fab color="tertiary" (click)="onDelete(flag.id); $event.stopPropagation()"><mat-icon>delete</mat-icon></button>
    </mat-card-actions>
  </mat-card>
</div>
