

/* Image styling */
.flag-card img {
  border-radius: 4px;
  width: 100%;
  height: auto;
  object-fit: cover;
  margin-bottom: 10px;
}

/* Text styling */
.flag-card p {
  font-size: 0.9rem;
  color: #f12828;
  margin: 5px 0;
}

/* Container styling */
.flag-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 20px;
}

.flag-card {
  width: 220px;
  transition: transform 0.3s, box-shadow 0.3s;
  background-color: yellow;
  border: 2px solid black;
}

.flag-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
}

/* Mat-card-header styling */
.mat-card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f3f3f3; /* Light gray background for the header */
  padding: 10px;
  border-bottom: 1px solid #ddd; /* Subtle border under the header */
}

.mat-card-title {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333; /* Darker text color */
}

.mat-card-subtitle {
  font-size: 0.9rem;
  color: #555; /* Subtle gray text for subtitle */
}

.mat-card {
  background-color: rgb(228, 237, 66);
}
